<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
  <app-flight-selected [flight]="selectedFlight"></app-flight-selected>
  <table id="flights-table" *ngIf="stateValid" class='table table-striped table-hover'>
    <thead>
    <tr>
      <th>#</th>
      <th>Origin</th>
      <th>Departure Time</th>
      <th>Destination</th>
      <th>Arrival Time</th>
      <th><!-- Buttons --></th>
    </tr>
    </thead>
    <tbody>
    <tr id="flight-row-{{current.number}}"
        app-flight-row
        [flight]="current"
        (onFlightSelected)="flightSelected($event)"
        (onFlightUpdating)="flightUpdating($event)"
        *ngFor="let current of flights"></tr>
    </tbody>
  </table>
  <div *ngIf="flightToUpdate">
    <app-flight-update [flight]="flightToUpdate"
                       (onFlightUpdated)="updateFlight($event)"></app-flight-update>
  </div>
</div>
