<hr/>
<form [formGroup]="updateForm" (ngSubmit)="updateFlight()">
  <div class="error-msg" *ngIf="updateForm.hasError('identicalAirports')">
    The two airports must not be identical!
  </div>
  <fieldset class="form-group">
    <label>Flight Number:</label>
    <input id="number" #flightNumber type="text" formControlName="flightNumber">
    <ng-container *ngIf="updateForm.controls.flightNumber.errors">
            <span class="error-msg" *ngIf="updateForm.controls.flightNumber.hasError('required')">
                The flight number is required
            </span>
      <span class="error-msg" *ngIf="updateForm.controls.flightNumber.hasError('pattern')">
                The value {{flightNumber.value}} is not three digits
            </span>
    </ng-container>
  </fieldset>
  <fieldset class="form-group">
    <label>Flight Origin:</label>
    <input class="form-control" id="origin" #flightOrigin size="30" type="text" formControlName="flightOrigin">
    <ng-container *ngIf="updateForm.controls.flightOrigin.errors">
            <span class="error-msg" *ngIf="updateForm.controls.flightOrigin.hasError('required')">
                The origin airport is required
            </span>
      <span class="error-msg" *ngIf="updateForm.controls.flightOrigin.hasError('pattern')">
                The value {{flightOrigin.value}} contains characters other than letters and spaces
            </span>
    </ng-container>
  </fieldset>
  <fieldset class="form-group">
    <label>Flight Destination:</label>
    <input class="form-control" id="destination" #flightDestination size="30" type="text" formControlName="flightDestination">
    <ng-container *ngIf="updateForm.controls.flightDestination.errors">
            <span class="error-msg" *ngIf="updateForm.controls.flightDestination.hasError('required')">
                The destination airport is required
            </span>
      <span class="error-msg" *ngIf="updateForm.controls.flightDestination.hasError('pattern')">
                The value {{flightDestination.value}} contains characters other than letters and spaces
            </span>
    </ng-container>
  </fieldset>
  <fieldset class="form-group">
    <label>Departure Time:</label>
    <input class="form-control" size="30" type="text" formControlName="departureTime">
    <span class="error-msg"
          *ngIf="updateForm.controls.departureTime.errors">The origin airport is required</span>
  </fieldset>
  <fieldset class="form-group">
    <label>Arrival Time:</label>
    <input class="form-control" size="30" type="text" formControlName="arrivalTime">
    <span class="error-msg"
          *ngIf="updateForm.controls.arrivalTime.errors">The arrival time is required</span>
  </fieldset>
  <input id="submit" type="submit" [disabled]="!updateForm.valid" value="Update Flight"/>
</form>

