<td id="number">{{flight.number}}</td>
<td id="origin">{{flight.origin}}</td>
<td>{{flight.departure | date}}</td>
<td id="destination">{{flight.destination}}</td>
<td>{{flight.arrival | date}}</td>
<td class="btn-group"><button class='btn btn-info' id="select" (click)="selectFlight()">Select</button><button class='btn btn-info' id="update" (click)="updateFlight()">Update</button>
</td>
